/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,latin-ext);*/
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /*font-family: 'Ubuntu', sans-serif;*/
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.copyright {
    margin: 20px 0;
}
.modal {
    text-align: center;
    padding: 0!important;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.form-uppercase {
    text-transform: uppercase;
}
.panel-crm {
    border-color: #f5f5f5;
}
.panel-crm.panel {
    margin-bottom: 20px;
    background-color: transparent;
    background-image: url('../images/panel-crm-background.png');
    background-repeat: repeat;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-crm>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}
.panel-crm>.panel-heading>h1 {
    font-size: 24px;
    margin: 0px;
    text-align: center;
}
.input-group-addon>.fa {
    width: 24px;
    height: 18px;
}
.btn-group-lg>.btn, .btn-xl {
    padding: 20px 20px;
    font-size: 24px;
    line-height: 1.3333333;
}
.comments {
    padding:10px;
    border-bottom:1px dotted #bbb;
    background-color: #eee;
}

.loading {
    display: none;
    content: "";
    background-color:rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

.loading-image {
    background-image: url('../images/loading.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}